extends layout

block content

  div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
      div.container
        button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="/")=title
        div.nav-collapse.collapse
           //form.navbar-form.pull-right
             input.span2(type="text", placeholder="Email")
             input.span2(type="password", placeholder="Password")
             button.btn(type="submit") Sign in

  div.container
    div.hero-unit
      h1 What's Kolby Been Brewing?
      p Kolby rocks!, I wanted a better way to know what Kolby has been brewing, and any guest beers
        | he has on tap. I plan to filter his Facebook / Instagram feed to pull any pics of his brew process
        | he decides to share with us. Maybe this will inspire him to share more ;)

   
    div.page-header
      h1 currently on tap ...
    div.row
      div#tap1.span3
        span.label.label-info Tap 1
        h2 SSP
        ul.thumbnails
          li.span3
            a.thumbnail(href='http://sphotos-a.xx.fbcdn.net/hphotos-snc7/c0.0.403.403/p403x403/419757_4704013356464_1522872332_n.jpg')
              img(data-src="http://sphotos-a.xx.fbcdn.net/hphotos-snc7/c0.0.403.403/p403x403/419757_4704013356464_1522872332_n.jpg",
src="http://sphotos-a.xx.fbcdn.net/hphotos-snc7/c0.0.403.403/p403x403/419757_4704013356464_1522872332_n.jpg", alt="")
            h3 Smoked Serrano Porter
            p Smoked Serrano porter is tasting delicious on a snowy night. #homebrew
      div#tap2.span3
        span.label.label-info Tap 2
        h2 BRIPA
        p Black Rye IPA
      div#tap3.span3
        span.label.label-info Tap 3
        span.badge.badge-success.pad Guest
        h2 Titan IPA
      div#tap4.span3
        span.label.label-info Tap 4
        span.badge.badge-success.pad Guest
        h2 Arrogant Bastard
  
    div.page-header
      h1 aging ...
    div.row
      div.span3
        span.badge.badge-success Bottled
        h2 Tequila Mocking Bird
        ul.thumbnails
          li.span3
            a.thumbnail(href='http://sphotos-a.xx.fbcdn.net/hphotos-prn1/c0.0.403.403/p403x403/16523_4824773415390_871221020_n.jpg')
              img(data-src="http://sphotos-a.xx.fbcdn.net/hphotos-prn1/c0.0.403.403/p403x403/16523_4824773415390_871221020_n.jpg",
src="http://sphotos-a.xx.fbcdn.net/hphotos-prn1/c0.0.403.403/p403x403/16523_4824773415390_871221020_n.jpg", alt='')
            h3 bottled Tequila Mocking Bird
            p Enjoying a Maracaibo Especial by Jolly Pumpkin after bottling The Tequila Mocking Bird. #homebrew #jollypumpkin

    include footer
